<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>UpdateView</title>
    <link rel="stylesheet" th:href="@{/css/updateform.css}">
</head>
<body>
<div class="container">
    <div class="box">
        <form th:action="@{/update/{id}(id=${board.id})}" method="post" th:object="${board}">
            <div class="card">
                <div class="main-content">
                    <div>
                        <button class="Btn" onclick="goBack()">

                            <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

                            <div class="text">back</div>
                        </button>
                    </div>
                    <input class="heading" type="text" id="title" th:field="*{title}" required><br>
                    <div class="header">
                        <span>Created Date</span>
                        <span th:text="${#temporals.format(board.created_at, 'yyyy/MM/dd HH:mm:ss')}"></span>
                        <input type="hidden" id="created_at" th:field="*{created_at}">
                    </div>
                    <div class="header">
                        <span>Modified Date</span>
                        <span th:if="${board.updated_at != null}" th:text="${#temporals.format(board.updated_at, 'yyyy-MM-dd HH:mm:ss')}"></span>
                        <span th:if="${board.updated_at == null}"></span>
                    </div>
                    <input class="footer" type="text" id="name" th:field="*{name}" required><br>
                    <div class="content">
                        <textarea id="content" rows="4" cols="50" th:field="*{content}" required></textarea><br>
                    </div>
                </div>
                <div class="pamo">
                    <input placeholder="password" type="text" name="text" class="custom-input" id="password" th:field="*{password}" required>
                    <button type="submit" class="delete-button">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>Modify</span>
                    </button>
                    <div th:if="${message}" th:text="${message}"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</body>
</html>